/TestScripts/test_stack.dat
/TestScripts/Semaphore_example/SemaphoreUI.log
/.idea/inspectionProfiles/profiles_settings.xml
/.idea/.gitignore
/.idea/misc.xml
/.idea/modules.xml
/.idea/SpintronicsMOKE.iml
/.idea/vcs.xml
/ArtieLabUI.log
/CFrameProcessors/.idea/*
/CFrameProcessors/cmake-build-debug/*
/CFrameProcessors/playing/cmake-build-debug/*
/CFrameProcessors/lib/cmake-build-debug/*
/TestScripts/test_frame.dat
