/TestScripts/test_stack.dat
/TestScripts/Semaphore_example/SemaphoreUI.log
/.idea/inspectionProfiles/profiles_settings.xml
/.idea/.gitignore
/.idea/misc.xml
/.idea/modules.xml
/.idea/SpintronicsMOKE.iml
/.idea/vcs.xml
/ArtieLabUI.log
/CFrameProcessors/.idea/.name
/CFrameProcessors/cmake-build-debug/.ninja_deps
/CFrameProcessors/playing/cmake-build-debug/.ninja_deps
/CFrameProcessors/cmake-build-debug/.ninja_log
/CFrameProcessors/playing/cmake-build-debug/.ninja_log
/CFrameProcessors/cmake-build-debug/CMakeFiles/3.28.1/CompilerIdC/a.exe
/CFrameProcessors/cmake-build-debug/CMakeFiles/3.28.1/CompilerIdCXX/a.exe
/CFrameProcessors/playing/cmake-build-debug/CMakeFiles/3.28.1/CompilerIdC/a.exe
/CFrameProcessors/playing/cmake-build-debug/CMakeFiles/3.28.1/CompilerIdCXX/a.exe
/CFrameProcessors/cmake-build-debug/build.ninja
/CFrameProcessors/playing/cmake-build-debug/build.ninja
/CFrameProcessors/cmake-build-debug/.cmake/api/v1/query/cache-v2
/CFrameProcessors/playing/cmake-build-debug/.cmake/api/v1/query/cache-v2
/CFrameProcessors/cmake-build-debug/.cmake/api/v1/reply/cache-v2-3ae9995fee9d155f2cc7.json
/CFrameProcessors/playing/cmake-build-debug/.cmake/api/v1/reply/cache-v2-f2965f0321e6babcbc09.json
/CFrameProcessors/lib/CFrameProcessors.c
/CFrameProcessors/cmake-build-debug/CMakeFiles/CImageProcessing.dir/lib/CFrameProcessors.c.obj
/CFrameProcessors/cmake-build-debug/CMakeFiles/CImageProcessing.dir/CFrameProcessors.c.obj
/CFrameProcessors/playing/cmake-build-debug/CMakeFiles/mylib.dir/C_/Users/User/PycharmProjects/SpintronicsMOKE/CFrameProcessors/lib/CFrameProcessors.c.obj
/CFrameProcessors/lib/CFrameProcessors.h
/CFrameProcessors/.idea/CImageProcessing.iml
/CFrameProcessors/cmake-build-debug/CMakeFiles/clion-Debug-log.txt
/CFrameProcessors/playing/cmake-build-debug/CMakeFiles/clion-Debug-log.txt
/CFrameProcessors/cmake-build-debug/CMakeFiles/clion-environment.txt
/CFrameProcessors/playing/cmake-build-debug/CMakeFiles/clion-environment.txt
/CFrameProcessors/cmake-build-debug/CMakeFiles/cmake.check_cache
/CFrameProcessors/playing/cmake-build-debug/CMakeFiles/cmake.check_cache
/CFrameProcessors/cmake-build-debug/cmake_install.cmake
/CFrameProcessors/playing/cmake-build-debug/cmake_install.cmake
/CFrameProcessors/cmake-build-debug/CMakeCache.txt
/CFrameProcessors/playing/cmake-build-debug/CMakeCache.txt
/CFrameProcessors/cmake-build-debug/CMakeFiles/3.28.1/CMakeCCompiler.cmake
/CFrameProcessors/playing/cmake-build-debug/CMakeFiles/3.28.1/CMakeCCompiler.cmake
/CFrameProcessors/cmake-build-debug/CMakeFiles/3.28.1/CompilerIdC/CMakeCCompilerId.c
/CFrameProcessors/playing/cmake-build-debug/CMakeFiles/3.28.1/CompilerIdC/CMakeCCompilerId.c
/CFrameProcessors/cmake-build-debug/CMakeFiles/CMakeConfigureLog.yaml
/CFrameProcessors/playing/cmake-build-debug/CMakeFiles/CMakeConfigureLog.yaml
/CFrameProcessors/cmake-build-debug/CMakeFiles/3.28.1/CMakeCXXCompiler.cmake
/CFrameProcessors/playing/cmake-build-debug/CMakeFiles/3.28.1/CMakeCXXCompiler.cmake
/CFrameProcessors/cmake-build-debug/CMakeFiles/3.28.1/CompilerIdCXX/CMakeCXXCompilerId.cpp
/CFrameProcessors/playing/cmake-build-debug/CMakeFiles/3.28.1/CompilerIdCXX/CMakeCXXCompilerId.cpp
/CFrameProcessors/cmake-build-debug/CMakeFiles/3.28.1/CMakeDetermineCompilerABI_C.bin
/CFrameProcessors/playing/cmake-build-debug/CMakeFiles/3.28.1/CMakeDetermineCompilerABI_C.bin
/CFrameProcessors/cmake-build-debug/CMakeFiles/3.28.1/CMakeDetermineCompilerABI_CXX.bin
/CFrameProcessors/playing/cmake-build-debug/CMakeFiles/3.28.1/CMakeDetermineCompilerABI_CXX.bin
/CFrameProcessors/cmake-build-debug/.cmake/api/v1/query/cmakeFiles-v1
/CFrameProcessors/playing/cmake-build-debug/.cmake/api/v1/query/cmakeFiles-v1
/CFrameProcessors/playing/cmake-build-debug/.cmake/api/v1/reply/cmakeFiles-v1-6919aefea4577c162e8f.json
/CFrameProcessors/cmake-build-debug/.cmake/api/v1/reply/cmakeFiles-v1-79024dd6adca4a4bb36c.json
/CFrameProcessors/playing/CMakeLists.txt
/CFrameProcessors/cmake-build-debug/CMakeFiles/3.28.1/CMakeRCCompiler.cmake
/CFrameProcessors/playing/cmake-build-debug/CMakeFiles/3.28.1/CMakeRCCompiler.cmake
/CFrameProcessors/cmake-build-debug/CMakeFiles/3.28.1/CMakeSystem.cmake
/CFrameProcessors/playing/cmake-build-debug/CMakeFiles/3.28.1/CMakeSystem.cmake
/CFrameProcessors/cmake-build-debug/.cmake/api/v1/query/codemodel-v2
/CFrameProcessors/playing/cmake-build-debug/.cmake/api/v1/query/codemodel-v2
/CFrameProcessors/playing/cmake-build-debug/.cmake/api/v1/reply/codemodel-v2-6c323ec829a979098755.json
/CFrameProcessors/cmake-build-debug/.cmake/api/v1/reply/codemodel-v2-e9548ace7f69ac481aaf.json
/CFrameProcessors/cmake-build-debug/.cmake/api/v1/reply/directory-.-Debug-d0094a50bb2071803777.json
/CFrameProcessors/playing/cmake-build-debug/.cmake/api/v1/reply/directory-.-Debug-d0094a50bb2071803777.json
/CFrameProcessors/.idea/editor.xml
/CFrameProcessors/playing/cmake-build-debug/CMakeFiles/playing.dir/generate_hist.c.obj
/CFrameProcessors/cmake-build-debug/.cmake/api/v1/reply/index-2024-05-10T13-46-25-0410.json
/CFrameProcessors/playing/cmake-build-debug/.cmake/api/v1/reply/index-2024-05-10T14-38-37-0531.json
/CFrameProcessors/cmake-build-debug/Testing/Temporary/LastTest.log
/CFrameProcessors/playing/cmake-build-debug/Testing/Temporary/LastTest.log
/CFrameProcessors/cmake-build-debug/libCImageProcessing.dll
/CFrameProcessors/cmake-build-debug/libCImageProcessing.dll.a
/CFrameProcessors/playing/cmake-build-debug/libmylib.a
/CFrameProcessors/.idea/misc.xml
/CFrameProcessors/.idea/modules.xml
/CFrameProcessors/playing/cmake-build-debug/playing.exe
/CFrameProcessors/cmake-build-debug/CMakeFiles/rules.ninja
/CFrameProcessors/playing/cmake-build-debug/CMakeFiles/rules.ninja
/CFrameProcessors/cmake-build-debug/.cmake/api/v1/reply/target-CImageProcessing-Debug-20fb0bdf43b5d31113b1.json
/CFrameProcessors/playing/cmake-build-debug/.cmake/api/v1/reply/target-mylib-Debug-db7ca93a75fa78312d30.json
/CFrameProcessors/playing/cmake-build-debug/.cmake/api/v1/reply/target-playing-Debug-bf25f1b9cac587ec6cd2.json
/CFrameProcessors/cmake-build-debug/CMakeFiles/TargetDirectories.txt
/CFrameProcessors/playing/cmake-build-debug/CMakeFiles/TargetDirectories.txt
/TestScripts/test_frame.dat
/CFrameProcessors/cmake-build-debug/.cmake/api/v1/query/toolchains-v1
/CFrameProcessors/playing/cmake-build-debug/.cmake/api/v1/query/toolchains-v1
/CFrameProcessors/cmake-build-debug/.cmake/api/v1/reply/toolchains-v1-e60ebe5105168df5c89c.json
/CFrameProcessors/playing/cmake-build-debug/.cmake/api/v1/reply/toolchains-v1-e60ebe5105168df5c89c.json
/CFrameProcessors/.idea/vcs.xml
/CFrameProcessors/.idea/.gitignore
