/devscripts/test_stack.dat
/devscripts/Semaphore_example/SemaphoreUI.log
/.idea/inspectionProfiles/profiles_settings.xml
/.idea/*
/ArtieLabUI.log
/intensity vs steps flipped.dat
/test
/devscripts/intensity vs steps.dat
/devscripts/intensity vs steps1.dat
/devscripts/test_frame.dat
/CFrameProcessors/.idea/*
/CFrameProcessors/cmake-build-debug/*
/CFrameProcessors/playing/cmake-build-debug/*
/ArtieLabUI.log.*
/CFrameProcessors/cmake-build-default/
/CFrameProcessors/cmake-build-release/*
/res/last_analyser_position.txt


